* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 50%;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 2em;
    max-width: 80em;
    font-family: 'Roboto', sans-serif;
}

.main-header {
    font-size: 3em;
    align-self: flex-start;
}

.box {
    color: #0B646B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2em;
}

.meme {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}